@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import '../node_modules/font-awesome/scss/font-awesome.scss';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
