<mat-card>
  <form [formGroup]="loginForm" (submit)="handleLogin($event)">
    <mat-form-field
      class="example-full-width"
      style="width: 40%;"
      appearance="fill"
    >
      <mat-label>Email</mat-label>
      <input type="text" placeholder="Email" matInput formControlName="email" />
    </mat-form-field>
    <br />
    <mat-form-field
      class="example-full-width"
      style="width: 40%;"
      appearance="fill"
    >
      <mat-label>Password</mat-label>
      <input
        type="password"
        placeholder="Password"
        matInput
        formControlName="password"
      />
    </mat-form-field>
    <br />

    <button mat-raised-button color="primary">Login</button>
  </form>
</mat-card>
