<header id="showcase">
    <div class="container">
        <form [formGroup]="loginForm">
            <mat-card class="offset-6 col-4" style="background-color: rgb(153, 164, 168)">
                <mat-card-title>Login</mat-card-title>
                <mat-card-content>
                    <div class="form-group">
                        <label>Email</label>
                        <input class="form-control" formControlName="email" placeholder="Enter your email" />
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input class="form-control" type="password" formControlName="password" placeholder="Enter your password" />
                    </div>
                    <br>
                    <button mat-raised-button color="primary" (click)="handleLogin()">Login</button>&nbsp;&nbsp;
                    <button mat-raised-button color="warn" (click)="handleRegister()">Register</button>
                    <br>
                </mat-card-content>
            </mat-card>
        </form>
    </div>
</header>