<mat-card *ngIf="travellers.length > 0">
  <form [formGroup]="travellersFormGroup" (submit)="handleSubmit($event)">
    <ng-container formArrayName="travellers">
      <ng-container
        *ngFor="let traveller of travellers.controls; let idx = index"
      >
        <mat-card>
          <mat-chip color="primary" selected>{{ idx + 1 }}</mat-chip>
          <form [formGroup]="traveller">
            <div class="row">
              <mat-form-field class="col-2">
                <mat-label>Name</mat-label>
                <input matInput type="text" formControlName="name" />
              </mat-form-field>
              <mat-form-field class="col-2">
                <mat-label>Age</mat-label>
                <input matInput type="text" formControlName="age" />
              </mat-form-field>
              <mat-form-field class="col-2">
                <mat-label>Gender</mat-label>
                <select matNativeControl required formControlName="gender">
                  <option value="MALE">Male</option>
                  <option value="FEMALE">Female</option>
                </select>
              </mat-form-field>
              <mat-form-field class="col-2">
                <mat-label>ID Proof</mat-label>
                <select matNativeControl required formControlName="idProof">
                  <option value="ADHAR">Adhar</option>
                  <option value="VOTER_ID">Voter ID</option>
                </select>
              </mat-form-field>
              <mat-form-field class="col-2">
                <mat-label>ID Proof Number</mat-label>
                <input matInput type="text" formControlName="idNumber" />
              </mat-form-field>
              <mat-form-field class="col-2">
                <mat-label>Disablity</mat-label>
                <select matNativeControl required formControlName="disablity">
                  <option value="MALE">No</option>
                  <option value="FEMALE">Yes</option>
                </select>
              </mat-form-field>
            </div>
          </form>
        </mat-card>
        <br />
      </ng-container>
    </ng-container>
    <br />
    <button mat-raised-button color="primary">Next : Ticket Summary</button>
  </form>
</mat-card>
